<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="maamResolver" class="lab1.MaamResolverImpl"/>

    <bean id="taxCalculator" class="lab1.TaxCalculatorImpl">
        <property name="maamResolver" ref="realMaamResolver"/>
    </bean>

    <bean id="realMaamResolver" class="lab1.RealMaamResolver"/>

</beans>